/** polices **/
@import url(https://fonts.googleapis.com/css?family=Space+Mono);


body
{
    /** couleurs & font **/
    background-color: #000;
    color: #fff;
    font-family: monospace;

    /** centering **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#terrain
{
    /** bordure blanche visible **/
    position: relative;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    border-left: 3px solid black;
    border-right: 3px solid black;

    /** dimension terrain**/
    width: 800px;
    height: 400px;

}


.tiltHaut
{
    border-top-color:  rgb(0, 255, 0) !important;

}

.tiltBas
{
    border-bottom-color:  rgb(0, 255, 0) !important;

}

.tiltEchecG
{
    border-left-color: rgb(150, 0, 0) !important;
}

.tiltEchecD
{
    border-right-color: rgb(150, 0, 0) !important;
}

#balle
{
    position: absolute;

    /** la balle est au centre**/
    top: 50%;
    left: 50%;

    /** Design de la balle **/
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

.raquette
{
    position: absolute;

    --hauteur : 25%;

    top : calc( 50% - var(--hauteur)/2 ); /** milieu de page */

    /** design**/
    width: 10px;
    height : var(--hauteur);
    background-color: rgb(255, 255, 255);

}

.score{
    /**CSS Score**/
    display: flex;
    padding-top: 20%;
    text-align: center;
    font-size:50px;
    font-family: 'Space Mono', cursive;
}

#scoreg{
    /**Precision pour le score d'id gauche**/
    padding-left: 25%;
    float:left;
    color: red;
}

#scored{
    /**Precision pour la score d'id gauche**/
    padding-right: 25%;
    float:right;
    color: blue;
}

/** raquettes gauche et droite**/

#gauche
{

    left: 1%;
}

#droite
{

    right: 1%;
}

/** Style de texte */
h1{
    font-size: 30px;
    max-width: 800px;
    line-height: 1.5;
    font-family: 'Space Mono', cursive;
}
